<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ColombiApp - Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="animate__animated animate__fadeInLeftBig">
  <ion-row>
    <swiper-container [modules]="swiperModules" class="swiper-container">
      <swiper-slide *ngFor="let image of slides">
        <img [src]="image.path" alt="Colombia">
      </swiper-slide>
    </swiper-container>
    <ion-col class="p-20">
      <h1>{{ colombiaInfo.name }}</h1>
      <p>{{ colombiaInfo.description }}</p>
      <p>Capital: {{ colombiaInfo.stateCapital }}</p>
      <p>Superficie: {{ colombiaInfo.surface | number: '1.0-0' }} km²</p>
      <p>Población: {{ colombiaInfo.population | number: '1.0-0' }}</p>
      <p>Idiomas: {{ colombiaInfo.languages.join(', ') }}</p>
      <p>Zona Horaria: {{ colombiaInfo.timeZone }}</p>
      <p>Moneda: {{ colombiaInfo.currency }} ({{ colombiaInfo.currencyCode }})</p>
      <p>Código ISO: {{ colombiaInfo.isoCode }}</p>
      <p>Dominio de internet: {{ colombiaInfo.internetDomain }}</p>
      <p>Prefijo telefónico: {{ colombiaInfo.phonePrefix }}</p>
      <p>Prefijo radio: {{ colombiaInfo.radioPrefix }}</p>
      <p>Prefijo aeronaves: {{ colombiaInfo.aircraftPrefix }}</p>
      <p>Subregion: {{ colombiaInfo.subRegion }}</p>
      <p>Region: {{ colombiaInfo.region }}</p>
      <p>Límites: {{ colombiaInfo.borders.join(', ') }}</p>
      <p>Bandera</p>
      <img *ngFor="let flag of colombiaInfo.flags" [src]="flag" alt="Colombia Flag">
    </ion-col>
  </ion-row>
</ion-content>
