<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="animate__animated animate__fadeInLeftBig">
  <ion-row>
    <swiper-container [modules]="swiperModules" class="swiper-container">
      <swiper-slide *ngFor="let image of slides">
        <img [src]="image.path" alt="Colombia">
      </swiper-slide>
    </swiper-container>
    <ion-col class="p-20">
      <h1>{{ colombiaInfo.name }}</h1>
      <p class="text-justify">{{ colombiaInfo.description }}</p>

      <ion-item>
        <ion-label>Capital</ion-label>
        <ion-note slot="end">{{colombiaInfo.stateCapital}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Superficie</ion-label>
        <ion-note slot="end">{{colombiaInfo.surface | number: '1.0-0'}} km²</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Población</ion-label>
        <ion-note slot="end">{{colombiaInfo.population | number: '1.0-0'}} habitantes</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Idiomas</ion-label>
        <ion-note slot="end">{{colombiaInfo.languages.join(', ')}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Zona Horaria</ion-label>
        <ion-note slot="end">{{colombiaInfo.timeZone}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Moneda</ion-label>
        <ion-note slot="end">{{colombiaInfo.currency}} ({{colombiaInfo.currencyCode}})</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Código ISO</ion-label>
        <ion-note slot="end">{{colombiaInfo.isoCode}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Dominio de internet</ion-label>
        <ion-note slot="end">{{colombiaInfo.internetDomain}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Prefijo telefónico</ion-label>
        <ion-note slot="end">{{colombiaInfo.phonePrefix}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Prefijo radio</ion-label>
        <ion-note slot="end">{{colombiaInfo.radioPrefix}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Prefijo aeronaves</ion-label>
        <ion-note slot="end">{{colombiaInfo.aircraftPrefix}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Subregion</ion-label>
        <ion-note slot="end">{{colombiaInfo.subRegion}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Region</ion-label>
        <ion-note slot="end">{{colombiaInfo.region}}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Límites</ion-label>
        <ion-note slot="end">{{colombiaInfo.borders.join(', ')}}</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Bandera</ion-label>
      </ion-item>
      <img *ngFor="let flag of colombiaInfo.flags" [src]="flag" alt="Colombia Flag">
    </ion-col>
  </ion-row>
</ion-content>
