<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ciudades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <span class="searchbar-container">
    <ion-searchbar
      show-clear-button="focus"
      placeholder="Buscar Ciudad..."
      [(ngModel)]="searchTerm"
      (ionInput)="onSearchInput($event)">
    </ion-searchbar>
  </span>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let city of filteredCities" (click)="openCity(city)">
      <ion-label>{{city.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
