<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let airport of filteredAirports" (click)="openAirport(airport)">
      <ion-label>{{airport.name}}</ion-label>
    </ion-item>
  </ion-list> -->


  <ion-card *ngFor="let map of maps" class="card">
    <ion-card-header>
      <ion-item lines="none">
        <span>
          <ion-card-title>{{map.name}}</ion-card-title>
          <!-- <ion-card-subtitle>Partido político: {{president.politicalParty}}</ion-card-subtitle> -->
        </span>
        <ion-avatar aria-hidden="true" slot="end">
          <ion-img [src]="map.urlImages[0] || 'assets/images/empty-map.png'" (ionError)="setDefaultImage($event)" />
        </ion-avatar>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Descripción</ion-label>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
          </ion-item>
          <div class="ion-padding text-justify" slot="content">{{map.description}}</div>
        </ion-accordion>
      </ion-accordion-group>

      <!-- <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label>Inicio periodo</ion-label>
            <ion-note slot="end">{{president.startPeriodDate}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Fin periodo</ion-label>
            <ion-note slot="end">{{president.endPeriodDate}}</ion-note>
          </ion-item>
        </ion-card-content>
      </ion-card> -->
    </ion-card-content>
  </ion-card>
</ion-content>