<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list id="inbox-list">
      <ion-list-header>Menu</ion-list-header>

      <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages; let i = index">
        <ion-item routerDirection="root" lines="none" detail="false" (click)="navigate(page.url)">
          <ion-icon aria-hidden="true" slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
          <ion-label>{{ page.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
