<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del aeropuerto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="airport$ | async as airport">
    <ion-list class="mt-10">
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-note slot="end">{{ airport.name }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Tipo de aeropuerto</ion-label>
        <ion-note slot="end">{{ airport.type }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Ubicado en</ion-label>
        <ion-note slot="end">{{ airport.department.name }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Código IATA</ion-label>
        <ion-note slot="end">{{ airport.iataCode }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Código OACI</ion-label>
        <ion-note slot="end">{{ airport.oaciCode }}</ion-note>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>