<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Aeropuertos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="searchbar-container">
    <ion-searchbar show-clear-button="focus" placeholder="Buscar Aeropuerto..." [(ngModel)]="searchTerm"
      (ionInput)="searchAirport($event)">
    </ion-searchbar>
  </div>

  <ion-list *ngIf="!isLoading; else loadingTemplate">
    <ion-item *ngFor="let airport of filteredAirports" (click)="openAirport(airport)">
      <ion-label>{{ airport.name }}</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loadingTemplate>
    <div class="loading-container">
      <ion-spinner></ion-spinner>
      <p>Cargando aeropuertos...</p>
    </div>
  </ng-template>
</ion-content>