<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ColombiApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animate__animated animate__fadeInLeftBig">
  <ion-row>
    <ion-col class="no-padding">
      <div class="p-20">
        <h2 class="welcome">Bienvenido a <span class="welcome-col">ColombiApp</span></h2>
        <ion-row class="flag-row">
          <ion-col size="6" class="yellow"></ion-col>
          <ion-col size="3" class="blue"></ion-col>
          <ion-col size="3" class="red"></ion-col>
        </ion-row>
        <ion-label class="mt-10">Explora fácilmente Colombia con nuestra App, desde información pública general hasta más específica y gratis.</ion-label>
      </div>
      <ion-img
        src="../../assets/images/collage.png"
        alt="Collage Colombia"
      ></ion-img>
      <div class="p-20">
        <ion-label>
          <h2>Encuentra información detallada de Colombia</h2>
          <p>Organizada por:</p>
          <ul>
            <li>Departamentos</li>
            <li>Ciudades</li>
            <li>Regiones</li>
            <li>Presidentes</li>
            <li>Aeropuertos</li>
            <li>Estaciones de radio</li>
            <li>Y mucho más...</li>
          </ul>
        </ion-label>
      </div>
      <div class="p-10">
        <ion-button expand="block" routerLink="/about">¡Explora Colombia ya!</ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="regions-card">
        <ion-card-header>
          <ion-card-title>{{'Regiones' | uppercase}}</ion-card-title>
          <!-- <ion-card-subtitle>Descubre los</ion-card-subtitle> -->
        </ion-card-header>

        <ion-card-content class="card-content">
          Descubre las 6 regiones de Colombia, su historia, geografía, economía, cultura y mucho más.
        </ion-card-content>

        <div class="p-10">
          <ion-button color="primary" [routerLink]="['/regions']" routerLinkActive="router-link-active" >Ver más</ion-button>
        </div>
      </ion-card>
      <ion-card class="city-card">
        <ion-card-header>
          <ion-card-title>{{'Ciudades' | uppercase}}</ion-card-title>
          <!-- <ion-card-subtitle>Descubre los</ion-card-subtitle> -->
        </ion-card-header>

        <ion-card-content class="card-content">
          Conoce ciudades y pueblitos de Colombia, cada uno con su propia historia, paisajes impresionantes, sabores únicos y secretos por descubrir.
        </ion-card-content>

        <div class="p-10">
          <ion-button color="primary" [routerLink]="['/cities']" routerLinkActive="router-link-active" >Ver más</ion-button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
